################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FastDevTool/obj/Debug
/packages
/FastDevTool/bin/Debug
/RunTaskForAny/Modules/RunTaskForAny.Module.Test/obj/Debug
/RunTaskForAny/packages
/RunTaskForAny/.vs
/RunTaskForAny/RunTaskForAny/bin/Debug
/RunTaskForAny/RunTaskForAny/obj/Debug
/RunTaskForAny/RunTaskForAny.Common/bin/Debug
/RunTaskForAny/RunTaskForAny.Common/obj/Debug
/RunTaskForAny/RunTaskForAny.DataBase/bin/Debug
/RunTaskForAny/RunTaskForAny.DataBase/obj/Debug
/RunTaskForAny/WpfApp1/bin/Debug
/RunTaskForAny/WpfApp1/obj/Debug
/.vs/config
/.vs/FastDevTool/v15/Server/sqlite3
/.vs/FastDevTool/v15
/RunTaskForAny/Modules/RunTaskForAny.Module.Collect/bin/Release
/RunTaskForAny/Modules/RunTaskForAny.Module.Collect/obj
/RunTaskForAny/Modules/RunTaskForAny.Module.Test/obj/Release
/RunTaskForAny/RunTaskForAny/bin/Release/Modules
/RunTaskForAny/RunTaskForAny/obj/Release
/RunTaskForAny/RunTaskForAny.Common/bin/Release
/RunTaskForAny/RunTaskForAny.Common/obj/Release
/RunTaskForAny/RunTaskForAny.DataBase/obj/Release
/RunTaskForAny/WpfApp1/obj/Release
/RunTaskForAny/CollectTool/bin/Debug
/RunTaskForAny/CollectTool/obj/Debug
/.vs/FastDevTool
/RunTaskForAny/ProjectPlan/bin/Debug
/RunTaskForAny/ProjectPlan/obj/Debug
/RunTaskForAny/MEFPlugins/Plugin1/obj/Debug
/RunTaskForAny/MEFPlugins/WpfControlLibrary1/obj/Debug
/RunTaskForAny/MEFPlugins/WPF.MEFPlugin.Template1/obj/Debug
/FastDev.Web/obj/Debug
/RunTaskForAny/Grpc.Agent/bin/Debug
/RunTaskForAny/Grpc.Agent/obj/Debug/Costura
/RunTaskForAny/Grpc.Server/obj/Debug/Costura
/RunTaskForAny/Grpc.Agent/obj/Debug
/RunTaskForAny/Grpc.Server/bin/Debug
/RunTaskForAny/Grpc.Server/obj/Debug
/RunTaskForAny/GrpcLib/bin/Debug
/RunTaskForAny/GrpcLib/obj/Debug
/RunTaskForAny/Grpc.Client.DC/bin/Debug
/RunTaskForAny/Grpc.Client.DC/obj/Debug
/RunTaskForAny/Grpc.Manage/obj/Debug
/RunTaskForAny/Grpc.Manage/bin/Debug
/RunTaskForAny/Grpc.Client/bin/Debug
/RunTaskForAny/Grpc.Client/obj/Debug
/RunTaskForAny/Grpc.Client.DataManage/bin/Debug
/RunTaskForAny/Grpc.Client.DataManage/obj/Debug
/RunTaskForAny/CollectTool/obj/Release
/RunTaskForAny/Grpc.Agent/obj/Release
/RunTaskForAny/Grpc.Client/obj/Release
/RunTaskForAny/Grpc.Client.DataManage/obj/Release
/RunTaskForAny/Grpc.Manage/obj/Release
/RunTaskForAny/Grpc.Server/obj/Release
/RunTaskForAny/GrpcCore.Agent/bin/Debug/netcoreapp3.1
/RunTaskForAny/GrpcCore.Agent/obj
/RunTaskForAny/GrpcCore.Client.DataManage/bin/Debug/netcoreapp3.1
/RunTaskForAny/GrpcCore.Client.DataManage/obj
/RunTaskForAny/GrpcCore.Common/bin/Debug/netcoreapp3.1
/RunTaskForAny/GrpcCore.Common/obj
/RunTaskForAny/GrpcCore.Manage/bin/Debug/netcoreapp3.1
/RunTaskForAny/GrpcCore.Manage/obj
/RunTaskForAny/GrpcCore.Server/bin/Debug/netcoreapp3.1
/RunTaskForAny/GrpcCore.Server/obj
/RunTaskForAny/GrpcLib/obj/Release
/RunTaskForAny/MEFPlugins/Plugin1/obj/Release
/RunTaskForAny/MEFPlugins/WPF.MEFPlugin.Template1/obj/Release
/RunTaskForAny/MEFPlugins/WpfControlLibrary1/obj/Release/TempPE
/RunTaskForAny/MEFPlugins/WpfControlLibrary1/obj/Release
/RunTaskForAny/ProjectPlan/obj/Release
/RunTaskForAny/WpfApp_Scripting/bin/Debug/netcoreapp3.1
/RunTaskForAny/WpfApp_Scripting/obj
