################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FastDevTool/obj/Debug
/packages
/FastDevTool/bin/Debug
/RunTaskForAny/Modules/RunTaskForAny.Module.Test/obj/Debug
/RunTaskForAny/packages
/RunTaskForAny/.vs
/RunTaskForAny/RunTaskForAny/bin/Debug
/RunTaskForAny/RunTaskForAny/obj/Debug
/RunTaskForAny/RunTaskForAny.Common/bin/Debug
/RunTaskForAny/RunTaskForAny.Common/obj/Debug
/RunTaskForAny/RunTaskForAny.DataBase/bin/Debug
/RunTaskForAny/RunTaskForAny.DataBase/obj/Debug
/RunTaskForAny/WpfApp1/bin/Debug
/RunTaskForAny/WpfApp1/obj/Debug
/.vs/config
/.vs/FastDevTool/v15/Server/sqlite3
/.vs/FastDevTool/v15
/RunTaskForAny/Modules/RunTaskForAny.Module.Collect/bin/Release
/RunTaskForAny/Modules/RunTaskForAny.Module.Collect/obj
/RunTaskForAny/Modules/RunTaskForAny.Module.Test/obj/Release
/RunTaskForAny/RunTaskForAny/bin/Release/Modules
/RunTaskForAny/RunTaskForAny/obj/Release
/RunTaskForAny/RunTaskForAny.Common/bin/Release
/RunTaskForAny/RunTaskForAny.Common/obj/Release
/RunTaskForAny/RunTaskForAny.DataBase/obj/Release
/RunTaskForAny/WpfApp1/obj/Release
/RunTaskForAny/CollectTool/bin/Debug
/RunTaskForAny/CollectTool/obj/Debug
/.vs/FastDevTool
/RunTaskForAny/ProjectPlan/bin/Debug
/RunTaskForAny/ProjectPlan/obj/Debug
/RunTaskForAny/MEFPlugins/Plugin1/obj/Debug
