<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="3.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="PDF.NET.SOD" version="5.6.2.725" targetFramework="net452" />
  <package id="PDF.NET.SOD.Core" version="5.6.2.725" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net452" />
  <package id="Stylet" version="1.1.22" targetFramework="net452" />
</packages>