<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link href="res/css/bootstrap.css" rel="stylesheet" />
    <link href="res/css/font-awesome.css" rel="stylesheet" />

    <script src="res/js/jquery-3.1.1.js"></script>
    <script src="res/js/bootstrap.js"></script>
    <script src="res/js/vue.js"></script>
    <script src="res/js/main.js"></script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">快速框架</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">首页</a></li>
                    <li><a href="#about">关于</a></li>
                    <li><a href="#contact">联系</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">动作</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">导航</li>
                            <li><a href="#">链接</a></li>
                            <li><a href="#">更多</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
    </div><!-- /.container -->

    <div class="load_data" api-url='/Ajax/one.ashx' api-data='{tname:"u_o_o_j_k_j",pindex:7,psize:1}'>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>GID</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" v-bind:d_item="item" v-bind:key="item.ID">
                    <th scope="row">{{ item.ID }}</th>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.GID }}</td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li>
                    <a v-on:click="PageGo" v-bind:tag="page.First">
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a v-on:click="PageGo" v-bind:tag="page.Previous">
                        <span>上页</span>
                    </a>
                </li>
                <li v-on:click="PageGo" v-for="(value, key) in page.EndIndex">
                <a v-if="value > page.StartIndex" v-bind:tag="value" >{{ value }}</a>
                </li>
                <li>
                    <a v-on:click="PageGo" v-bind:tag="page.Next">
                        <span>下页</span>
                    </a>
                </li>
                <li>
                    <a v-on:click="PageGo" v-bind:tag="page.Last">
                        <span>末页</span>
                    </a>
                </li>
                <li>
                    <input type="text" class="form-control" width="34" style="float:none;" />
                </li>
                <li>
                    <a v-on:click="PageGo" v-bind:tag="page.First">
                        <span>跳转</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="load_data" api-url='/Ajax/one.ashx' api-data='{tname:"sys_table_column",pindex:2,psize:8}'>
        <ol>
            <li v-for="item in list" v-bind:d_item="item" v-bind:key="item.ID">
                {{ item.Title }}-{{ item.Name }}
            </li>
        </ol>
    </div>

</body>
</html>